/* Formularios */
.contenedor-form {
	width: 300px;
	margin: auto;
}

.form-enlace {
	display: inline;
}

/* Estilos */
.font-white {
	color: #FFFFFF;
}

.separator {
	margin-top: 1em;
}

.separator-3em {
	margin-top: 3em;
}

.separator-left {
	margin-left: 1em;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.line-separator-double {
	border: 0;
	border-top: 4px double gray;
	width: 90%;
}

.line-separator {
	border: 0;
	border-top: 4px black;
	width: 90%;
}

.linea{
	display: inline-block;
}

/*Activar Scroll ayuda*/
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

/*Titulos*/
h3 {
	text-align: center;
}

/*Parrafos*/
p {
	text-align: justify;
}

/*Celda de las tablas*/
td{
	text-align: center;
}

input[type=file].hidden {
  color: transparent;
}

/*Iconos*/
.gi-2x {
	font-size: 2em;
}

.gi-3x {
	font-size: 3em;
}

.gi-4x {
	font-size: 4em;
}

.gi-5x {
	font-size: 5em;
}

.logo {
	height: 300%;
}

/* Buscador */

#buscador {
	margin: auto;
	width: 50em;
}
#buscador h1 {
	font-size: large;
}

#buscador .input-group {
	width: 100%;
}

/*Utilidades*/
.oculto {
	display: none;
}

/*Filtrar listado*/
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*Paginar tabla de busqueda*/
div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}
